$color-warn-alt: #e27100;
$color-primary-alt-dark: #004972;

$focus-outline:  5px solid $color-gold-light;

$measure-1:  40ch;
$measure-2:  60ch;
$measure-3:  66ch;
$measure-4:  72ch;
$measuer-5:  77ch;